@import "./typography";
@import "./variables";

@mixin cardTypograph($size-value, $weight-value, $color-value, $ltr-value) {
  font-size: $size-value;
  font-weight: $weight-value;
  color: $color-value;
  letter-spacing: $ltr-value;
}