// Color
$bgColor: #fff;
$secondBgColor: #eee;
$primaryColor: #535ba0;
$titleColor: #31323a;
$mutedColor: #aaaaaa;
$mutedParagraphColor: #7a7a7a;
$featureBgColor: #eaebef;
$navColor: #24252d;

// Font
$primaryFont: "Roboto Slab", serif;
$boldWeight: 700;

// Path
$imgPath: '/assets/images';