@import "../../styles/variables";
@import "../../styles/mixins";

.feature {
  .card__one {
    @include cardIcon("icon_01.png", "icon_hover_01.png");
  }
  .card__two {
    @include cardIcon("icon_02.png", "icon_hover_02.png");
  }
  .card__three {
    @include cardIcon("icon_03.png", "icon_hover_03.png");
  }
  .card__four {
    @include cardIcon("icon_04.png", "icon_hover_04.png");
  }
  .card__five {
    @include cardIcon("icon_05.png", "icon_hover_05.png");
  }
  .card__six {
    @include cardIcon("icon_06.png", "icon_hover_06.png");
  }
  .feature__card {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: $featureBgColor;
    padding: 50px 40px;
    height: 175px;
    max-height: 100vh;
    text-align: center;
    transition: all 0.5s;
    &:hover {
      background-color: $primaryColor;
      h4,
      p {
        color: $bgColor;
      }
    }
    p {
      color: $mutedParagraphColor;
      margin-bottom: 0px;
      transition: all 0.5s;
    }
    h4 {
      margin-bottom: 20px;
      transition: all 0.5s;
    }
    .feature__icon {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin-bottom: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.5s;
    }
  }
}

@media (max-width: 576px) {
  .feature {
    .feature__card {
      p {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 992px) {
  .feature {
    .feature__card {
      height: 200px;
    }
  }
}