@import "../../styles/variables";
@import "../../styles/mixins";

.feature {
  .feature__card {
    background-color: $featureBgColor;
    padding: 2.5rem;
    min-height: 275px;
    transition: all 0.5s;
    h4 {
      margin: 20px 0;
    }
    &:hover {
      background-color: $primaryColor;
      img {
        filter: brightness(0) invert(1);
      }
      h4,
      p {
        color: $bgColor;
      }
    }
  }
}
