@import "../../styles/variables";

.header {
  position: relative;
  margin: 0;
  padding: 25px;
  width: 100%;
  background-color: $primaryColor;
  color: $bgColor;
  h1 {
    font-family: $primaryFont;
    font-size: 2.25em;
    display: inline;
    float: right;
    margin-right: 60px;
  }
  .text-link {
    color: $bgColor;
  }
  .header__toggle {
    cursor: pointer;
    font-size: 1.6em;
    margin-top: 12px;
  }
}

@media (max-width: 420px) {
  .header {
    h1 {
      font-size: 2em;
      margin-right: 0;
    }
  }
}

@media (max-width: 320px) {
  .header {
    h1 {
      font-size: 1.5em;
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .header {
      h1 {
        display: none;
      }
    }
  }
}
