@import '../../styles/variables';

.header {
  background-color: $primaryColor;
  color: $thirdBgColor;
  h1 {
    font-family: $primaryFont;
    float: right;
    padding-right: 50px;
  }
  .text-link {
    color: $thirdBgColor;
  }
  .header__toggle {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 35px;
  }
}
