@import "../../styles/variables";
@import "../../styles/typography";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $primaryColor;
  color: $bgColor;
  display: flex;
  h1 {
    color: $bgColor;
    float: right;
  }
  .text-link {
    color: $bgColor;
  }
  .toggle {
    text-decoration: none;
    transition: left 0.5s ease;
    border: 0;
    display: block;
    color: #fff;
    height: 100px;
    overflow: hidden;
    position: absolute;
    text-indent: 100px;
    width: 100px;
    z-index: 10000;
    top: 0;
    &::before {
      font-family: Webfont;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }
    &::before {
      content: "\f0c9";
      font-size: 2rem;
      height: inherit;
      left: 0;
      line-height: inherit;
      position: absolute;
      text-indent: 0;
      top: 0;
      width: inherit;
    }
  }
}

@media (min-width: 280px) {
  .header {
    h1,
    .toggle {
      font-size: 1.8em;
      margin: 0;
    }
    .toggle {
      line-height: 58px;
    }
  }
}

@media (max-width: 540px) {
  .header {
    padding: 10px 0;
    z-index: 99;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 25px 15px 25px 25px;
    h1 {
      font-size: 36px;
    }
    .toggle {
      line-height: 100px;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 25px 85px 25px 25px;
  }
}
