@import "../../styles/variables";

.posts {
  h4 {
    padding: 20px 0;
  }
  p {
    padding-bottom: 20px;
    color: $mutedParagraphColor;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
}
.post1 {
  img {
    width: 100%;
  }
}

.post2 {
  max-width: 100%;
  img {
    max-width: 542px;
    width: 100%;
    height: auto;
    padding: 35px;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .img2 {
    top: 40%;
    left: 75%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .posts {
    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 992px) {
  .post2 {
    img {
      max-width: 380px;
    }
  }
}

@media (min-width: 1200px) {
  .post2 {
    img {
      max-width: 475px;
    }
  }
}
