@import "./styles/mixins";
@import "./styles/variables";
@import "./styles/global";
@import "./styles/typography";

h1 {
  font-size: 36px;
  color: $titleColor;
}

h4 {
  font-size: 18px;
  color: $titleColor;
}

p,
span {
  color: $mutedParagraphColor;
  font-size: 14px;
  line-height: 25px;
}

.App {
  transition: 0.5s;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .container-inner {
    margin: 75px;
    border-bottom: 3px solid #eee;
    padding-bottom: 75px;
  }
}

.wrapper {
  transition: all 0.5s;
  margin-left: 16px;
}

.grid-1 {
  display: grid;
  gap: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px;
  text-align: center;
}

.primary-btn a,
button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  display: inline-block;
  padding: 8px 20px;
  color: $primaryColor;
  border: 2px solid $primaryColor;
  transition: all 0.5s;
  &:hover {
    color: $bgColor;
    background-color: rgba(83, 91, 160, 1);
  }
}

.text-link {
  text-decoration: none;
  button {
    cursor: pointer;
  }
}

.slider {
  width: 320px;
  text-align: center;
  overflow: hidden;
  > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 20px 0 1.5rem 10px;
    position: relative;
    &:active {
      top: 1px;
      background: $primaryColor;
    }
    &:focus {
      background: $primaryColor;
      color: $primaryColor;
    }
  }
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $primaryColor;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 320px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: $bgColor;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// Media Queries
@media (min-width: 280px) {
  h1 {
    font-size: 2.25em;
  }
  h4 {
    font-size: 1.125em;
  }
  p,
  span {
    font-size: 0.875em;
  }
}

@media (min-width: 320px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 420px) {
  .container {
    width: 414px;
  }
}

@media (max-width: 420px) {
  .container {
    .container-inner {
      margin: 50px 0;
    }
  }
}

@media (max-width: 540px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }
  .slider {
    width: 100%;
  }
}

@media (min-width: 540px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 744px;
  }
  .wrapper {
    padding-left: 368px;
  }
  .slider {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1000px;
  }
  .wrapper {
    padding-left: 435px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 100%;
  }
}
