@import "../../styles/variables";
@import "../../styles/mixins";

.banner {
  background-image: url(#{$imgPath}/main-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  .banner__card {
    max-width: 450px;
    background-color: rgba(250, 250, 250, 0.95);
    padding: 3rem;
    h1 {
      @include cardTypograph(700, 48px);
    }
    em {
      font-style: normal;
      color: $primaryColor;
    }
    p,
    span {
      @include cardTypograph(400, 25px);
      margin: 20px 0;
    }
  }
}

@media (max-width: 320px) {
  .banner {
    padding: 35px;
    .banner__card {
      h1 {
        font-size: 1.5em;
        line-height: 32px;
      }
      p,
      span {
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 540px) {
  .banner {
    .banner__card {
      padding: 1.5rem;
    }
  }
}
